html{
    background-color: #816767;
    scroll-padding-top: 140px;
}

main{
    background-color: #ccb8be;
    margin: 120px 190px 0 190px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 50px 20px#523d3d80;
    border-style: solid;
    border-width: 2px;
    border-color: #f5f0f1bb;

}

nav ul{
    display: flex;
    align-items: center;
}

header{
    top: 0;
    left: 0;
    position: fixed;
    background-color: #F5F0F1;
    width: 100vw;
    display: flex;
    align-items: center;
    padding-left: 2vw;
    color:rgb(82, 57, 57);
    border-bottom: #cec0cc solid 4px ;
    box-shadow: inset 0 30px 55px 5px rgba(194, 171, 193, 0.781), 0 0 50px 20px rgb(92, 72, 72)
}

header ul{
    
    gap: 10px;
}

li a {
    text-decoration: none;
    color: rgb(82, 57, 57);
    font-size: 18px;
    transition: 0.3s;
    padding: 7px 10px;
    display:block;
}

li a:hover{
    background-color: rgba(110, 81, 99, 0.329);
    
    display: block;
    transform: scale(1.1);
    border-radius: 7px;
}

li{
    list-style: none;
}

